.popup-content {
  position: relative;
  margin: auto;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 69%;
  pointer-events: auto;
  background: #f44336;
  color: white;
  stroke: white;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 0.05em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}